@import url("reset.css");

#header {
    background: #222;
    padding: 18px 0 6px 0;
}

.navbar-inverse {
    background-color: #222;
    border-color: #222;
}

.img-box img{
	width: 100%;
	height: auto;
}

body{
	background: #f8f8f8;
	color: #9c9c9c;
}

#logo{
	height: 50px;
	width: auto;
	margin-top: -18px;
}

#example-navbar-collapse a{	
	height: 52px;	
	padding: 15px 15px;
}

.navbar-btn {
	background: #ff2d77;
	color: #fff;
	font-size: 12px;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #fff;
    text-decoration: none;
}

.img-box{
	text-align: center;
}

.newmedia .container{
	margin-top: 20px;
	background: #fff;
	padding-top: 60px;
	height: 500px;
}

.page-header{
	text-align: center;
	margin: 0 40px;
}

.projects-header h3 {
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: 400;
}

.code-box {
	text-align: center;
}

.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn-black {
	margin-top: 30px;
    color: #fff;
    background-color: #444444;
    border-color: #444444;
    font-size: 12px;   
}

.btn-black:hover {
    color: #fff;
    text-decoration: none;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
	margin-top: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #ea0d5a;
    color: #fff;
    font-size: 12px;
}

.recruitinfo dl{
	margin-top: 25px;
	margin-left: 40px;
	margin-right: 40px;
	padding-bottom: 20px;
	border-bottom: 1px dotted #d7d7d7;
}

.recruitinfo dl dt{
	float: left;
	margin-right: 10px;
}

.infoimg{
	width: 82px;
	height: 82px;
	border: 1px transparent solid;
	border-radius: 4px;
}

.recruitinfo h3{
	font-size: 18px;
	line-height: 26px;
}

.recruitinfo p{
	line-height: 24px;
}

.recruitinfo span{
	color: red;
}

.text-center .container{
	height: 340px;
	background: #fff;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    /* display: block; */
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}

.newhot .container{
	margin-top: 20px;
}

.list dl img{
	width: 100%;
	height: auto;
}

.list dl dd p{
	margin-top: 4px;
	line-height: 30px;
	color: #9c9c9c;
}

.list .row{
	margin-top: 18px;
}

.btn-pink {
    color: #fff;
    background-color: #fc1264;
    border-color: #fc1264;
    height: 30px;
    line-height: 14px;
    font-size: 12px;
    margin-top: 8px;
}

.btn-black {
    color: #fff;
    background-color: #444444;
    border-color: #444444;
}

.introduce .pull-center p{
	margin-top: 80px;
}

.introduce .container{
	margin-top: 40px;
	background: #fff;
	padding-bottom: 40px;
}

.states{
	margin-top: 20px;
	text-align: center;
}

.states p{
	line-height: 20px;
}

.linkbox {
	background: #fff;	
}

.red-img img{
	width: 60%;
	padding: 60px 0;
	vertical-align: middle;	
}

.position .container{
	margin-top: 30px;
	margin-bottom: 40px;
	background: #fff;
	text-align: center;
}

.position .container img{
	width: 100%;
	padding: 30px 60px;
	vertical-align: middle;	
}

.footer {
	text-align: center;
    width: auto;
    height: auto;
    font-size: 12px;
    text-transform: uppercase;
    padding: 30px 0 30px 0;
    color: #a4a4a4;
    background: #363636;
}

@media (max-width: 767px){
	.list dl img {
	    width: 239px;
	    height: 239px;
	}
	
	.navbar-btn {
		width: 100%;
	}
	
	.col-xs-6 {
	    width: 50%;
	}
	
	.red-img img{
		width: 90%;
	}
}
